.component-wrapper {
  display: grid;
  grid-template-columns: 2fr 3fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 4rem 4rem;
  gap: 0 4rem;
  margin-top: 2rem;
}

@media (max-width: 800px) {
  .component-wrapper {
    margin-bottom: 12rem;
  }
}

.name,
.details,
.percentage,
.price {
  font-size: 1.8rem;
}

.name {
  font-weight: 800;
  grid-column: 1/2;
}

.details {
  grid-column: 2/3;
}

.percentage {
  grid-column: 3/4;
}

.price {
  grid-column: 4/5;
}
