.button {
  background-color: transparent;
  color: orange;
  border: 2px solid orange;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  font-size: 2rem;
  padding: 1rem 2rem;
  margin-top: 2rem;
}

.button:hover {
  cursor: pointer;
}

@media (max-width: 500px) {
  .button {
    margin-top: -6rem;
  }
}
