.starters-form {
  display: grid;
  grid-template-columns: 3fr 1.5fr 1fr 1.5fr;
  grid-template-rows: 4rem 4rem 4rem;
  margin-left: 4rem;
  margin-top: 4rem;
  margin-bottom: 10rem;
  gap: 0 1rem;
  padding-bottom: 8rem;
  border-bottom: 1px solid orange;
}

.label {
  font-size: 2.4rem;
}

#input-name {
  grid-column: 1/2;
  grid-row: 2/3;
}

#input-dietary {
  grid-column: 2/3;
  grid-row: 2/3;
  padding-left: 1rem;
}

#input-price {
  grid-column: 3/4;
  grid-row: 2/3;
  padding-left: 1rem;
}

.starters-add {
  grid-column: 1/2;
  grid-row: 3/4;
  height: 6rem;
  width: 16rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid orange;
  color: orange;
  font-size: 2.4rem;
  padding: 1rem 2rem;
  margin-top: 2rem;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.starters-add:hover {
  cursor: pointer;
}
