.item-wrapper {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  grid-template-rows: 4rem 4rem 4rem 8rem;
  margin-left: 4rem;
  margin-top: 4rem;
}

.heading {
  font-size: 2rem;
}

#item-name {
  font-size: 2.4rem;
  grid-column: 1/2;
  grid-row: 1/2;
}

#item-country {
  grid-column: 1/2;
  grid-row: 2/3;
}

.u-row {
  display: flex;
  grid-column: 1/2;
  grid-row: 3/4;
}

.label {
  color: orange;
  font-size: 2rem;
  margin-right: 1rem;
}
.info {
  font-size: 2rem;
  margin-right: 2rem;
}

.details {
  font-size: 2rem;
  grid-column: 1/2;
  grid-row: 4/5;
}

.u-row-confirm-delete {
  display: flex;
  grid-column: 3/4;
  grid-row: 1/2;
}

.btn-edit {
  grid-column: 2/3;
  grid-row: 1/2;
}

.btn-delete {
  grid-column: 3/4;
  grid-row: 1/2;
}

.btn-delete,
.btn-edit,
.btn-delete-edit,
.btn-edit-edit {
  background-color: transparent;
  border: 1px solid orange;
  color: orange;
  font-size: 2rem;
  height: 4rem;
  width: 8rem;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.btn-delete:hover,
.btn-edit:hover,
.btn-cancel-delete:hover,
.btn-confirm-delete:hover,
.btn-edit-edit:hover,
.btn-cancel-edit:hover,
.btn-confirm-edit:hover {
  cursor: pointer;
}

.btn-cancel-delete,
.btn-confirm-delete,
.btn-cancel-edit,
.btn-confirm-edit {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  height: 4rem;
  width: 4rem;
  background-color: transparent;
  font-size: 2rem;
}

.btn-cancel-delete,
.btn-cancel-edit {
  color: red;
  border: 1px solid red;
}

.btn-confirm-delete,
.btn-confirm-edit {
  color: green;
  border: 1px solid green;
  margin-right: 1rem;
}

/* Edit Stuff */

.item-wrapper-edit {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 4rem 4rem 4rem 4rem 4rem 4rem 4rem 4rem 4rem 4rem 4rem 4rem;
  gap: 1rem;
  margin: 4rem 4rem 0 4rem;
}

.heading {
  font-size: 2rem;
}

#label-name {
  grid-column: 1/4;
  grid-row: 1/2;
  font-size: 2.4rem;
}

#input-name {
  grid-column: 1/4;
  grid-row: 2/3;
}

#label-country {
  grid-column: 1/4;
  grid-row: 4/5;
}

#input-country {
  grid-column: 1/4;
  grid-row: 5/6;
}

#label-bottle {
  grid-column: 1/2;
  grid-row: 7/8;
}

#input-bottle {
  grid-column: 1/2;
  grid-row: 8/9;
}

#label-ml250 {
  grid-column: 2/3;
  grid-row: 7/8;
}

#input-ml250 {
  grid-column: 2/3;
  grid-row: 8/9;
}

#label-ml175 {
  grid-column: 3/4;
  grid-row: 7/8;
}

#input-ml175 {
  grid-column: 3/4;
  grid-row: 8/9;
}

#label-details {
  grid-column: 1/2;
  grid-row: 10/11;
}
#input-details {
  grid-column: 1/4;
  grid-row: 11/12;
}

.u-row-edit {
  grid-column: 4/5;
  grid-row: 2/3;
}

.btn-delete-edit {
  grid-column: 5/6;
  grid-row: 2/3;
  opacity: 0.5;
}
