.button {
  background-color: transparent;
  color: orange;
  border: 2px solid orange;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  font-size: 2rem;
  height: 4rem;
}

.button:hover {
  cursor: pointer;
}

@media (max-width: 500px) {
  .button {
    font-size: 1.4rem;
    font-weight: 700;
    border: 1px solid orange;
    padding: 0 1rem;
  }
}
