.background {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  padding-bottom: 8rem;
}

.page {
  width: 100rem;
  min-height: 80vh;
  margin-top: 8rem;
  background-color: white;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  padding-bottom: 8rem;
}

.h1 {
  text-align: center;
  margin-top: 2rem;
  font-size: 6rem;
}

.u-row {
  display: flex;
  margin-top: 4rem;
  margin-left: 4rem;
  align-items: center;
  justify-content: center;
}

.u-col {
  display: flex;
  flex-direction: column;
}

@media (max-width: 450px) {
  .u-row {
    flex-direction: column;
  }
}
